.form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 300px;
}

.label {
    font-weight: normal;
    margin-bottom: 5px;
}

.input {
    border: 1px solid rgb(129, 126, 126);
    border-radius: 5px;
    margin-bottom: 10px;
    height: 35px;
    padding-left: 15px;
}

.input:focus {
    border: 1px solid rgb(203, 177, 177);
    outline: none;
}